.row-fluid
  .span12
    .span4
      #bandwlogo
    .span6
      %br
      %br
      %br
      %br
      #abouttext
        %h1 About Stoic Hacks
        %p
          I've dedicated this website to my reflections on philosophy in practice in business and in life, along with the occasional watercolor cartoon. I am one of the original founders of 
          =link_to "RateMyStudyAbroad.com,", "http://ratemystudyabroad.com"
          an independent website for student reviews of study abroad programs, now the review website partner of 
          =link_to "GoAbroad.com.", "http://goabroad.com"
          I spent one year living in an internet-free cottage owned by my father in Baltimore County reading philosophy and literature beginning with Homer and the Pre-Socratic philosophers.  I am now a Junior Ruby on Rails developer at Colorado-based White Cheetah. In Spring of 2014 I plan to study for a masters in philosophy in Berlin.

        %br
          I am happy to talk: henryvw@gmail.com.