<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

if 60 < 15
print "Berlin! Pläne"
elsif 7 == 7
print "A second chance.  When you come upon a fork in the road, take it."
elsif 7 / 2 < 3
print "Failure.  Begin anew.  Life is an adventure."
else 
puts "I love him, whose spirit is deep, and whose heart is deep, so that is head is only the entrails of his heart"
end