

%br
%br
%h4 Sing to me of the man, Muse, the man of twists and turns,
%h4 Driven time and again off course, once he had plundered the hallowed heights of Troy.
%h4 Many cities of men he saw, and learned their minds,
%h4 Many pains he suffered, heartsick on the open sea,
%h4 Fighting to save his life, and bring his comrades home.

= succeed '.' do
  = @current_user
  has logged in
