%h1 My Summer 2013 Programming Ruby on Rails Schedule

%h5 My goal is to finish a number of courses - Udemy #1, CodeAcademy, Agile Web Development in Rails, by the end of my summer in Fort Collins.

%p 
%p Total weeks left in Fort Collins at the time of this planning session: 10.5
%p # of Remaining CodeAcademy modules: 13 / 13
%p # of Remaining Udemy #1 modules: 45 / 39
%p # of Remaining Chapters of Agile Development: 26 / 23
%p 
  Number of modules needed to be completed in order to meet my goal: 84 modules; 
  %b 8 per week
%p

%table{:border => "2"}
  %tr
    %td Week
    %td Modules Planned
    %td Modules Completed
  %tr
    %td June 17
    %td 4
    %td 2
  %tr
    %td June 24
    %td 8
    %td 2
  %tr
    %td July 1
    %td 8
    %td 0 [Houston]
  %tr
    %td July 8
    %td 8
    %td 7
  %tr
    %td July 15
    %td 8
    %td 1
  %tr
    %td July 22
    %td 8
    %td 0
  %tr
    %td July 29
    %td 8
    %td 0
  %tr
    %td August 5
    %td 8
    %td 0
  %tr
    %td August 12
    %td 8
    %td 0
  %tr
    %td August 19
    %td 8
    %td 0
  %tr
    %td August 26
    %td 8
    %td 0
%p
The modules will be completed in roughly the following order. I am free to mix it up but this is simply the rubric I will follow if there is ever a question, "which module should I do right now?"

%ol
  %li Udemy
  %li CodeAcademy
  %li Agile Web Development with Rails
%p 
  %b Henry Blog Goal:
  Finished, completed, beautiful blog with 1 excellent post by September 1.

%p Email blog out to friends & family September 1.
